* {
  position: absolute;
}

:root {
  --face-height: 18vw;
  --face-width: 12vw;
  --chest-height: 12vw;
  --inner-shade: #784b4d;
  --sleeve-height: 5vw;
}

.person {
  left: 30vw;
  top: 5vh;
}

.skin {
  color: #ff777e;
}

.skin-shade {
  color: #e8213a;
}

.hair {
  color: #000400;
}

.clothes {
  color: #420002;
}

.sleeves {
  color: var(--inner-shade);
}

.face {
  width: var(--face-width);
  height: var(--face-height);
  background: currentcolor;
  border-radius: 15vw;
  z-index: 2;
}

.neck {
  width: calc(var(--face-width) / 2);
  height: var(--face-height);
  background: currentcolor;
  left: calc(var(--face-width) / 2);
  top: calc(var(--face-height) /2 );
  z-index: 0;
}

.head {
  width: calc(var(--face-width) * 1.7);
  height: 25vw;
  background: currentcolor;
  border-radius: 6vw 5vw 0 3vw;
  height: calc(var(--face-height) * 2);
}

.chest {
  width: var(--face-width);
  height: var(--chest-height);
  background: currentcolor;
  top: calc(var(--face-height) * 2 - var(--chest-height));
  border-radius: 5vw 0 0 3vw;
  box-shadow: 0 3vw 0 0vw var(--inner-shade);
  z-index: 2;
}

.shirt {
  width: calc(var(--face-width) * 3);
  height: calc(var(--chest-height) * 1.5);
  background: currentcolor;
  z-index: -5;
  top: calc(var(--face-height) * 2 - var(--chest-height) + var(--chest-height)/2);
  left: -5vw;
  border-radius: 5vw 5vw 0 0;
}

.shoulder {
  width: var(--face-width);
  height: var(--face-height);
  background: currentcolor;
  border-radius: 15vw 15vw 15vw 0;
  top: calc(var(--face-height) * 2 - var(--chest-height));
  left: 15vw;
  z-index: 7;
}

.shoulder-in {
  height: var(--face-height);
  width: var(--face-width);
  background: var(--inner-shade);
  left: 12vw;
  top: calc(var(--face-height) * 2 - var(--chest-height));
  border-radius: 5vw 3vw 3vw 0;
}

.sleeve {
  width: var(--face-width);
  height: var(--sleeve-height);
  background: currentcolor;
  top: calc(var(--face-height) * 2 + var(--chest-height) / 2);
  left: -5vw;
  border-radius: 5vw;
}

.sleeve-right {
  left: 10vw;
  top: calc(var(--face-height) * 2 + var(--chest-height) / 2 + 3vw);
}

.hand {
  height: var(--sleeve-height);
  width: calc(var(--face-width) / 1.3);
  background: currentcolor;
  top: calc(var(--face-height) * 2 + var(--chest-height) / 2);
  z-index: 12;
  border-radius: var(--sleeve-height) var(--sleeve-height) 0 0;
  left: 2vw;
}

.hand-right {  
  z-index: 3;
  transform: scaleX(-1);
  left: 7vw;
  top: calc(var(--face-height) * 2 + var(--chest-height) / 2 + 3vw);
}

.hand-right::after {
  content: "";
  height: var(--sleeve-height);
  width: calc(var(--face-width) / 1.3);
  display: block;
  position: absolute;
  background: currentcolor;
  border-radius: var(--sleeve-height) var(--sleeve-height) 0 0;
  transform: scale(0.7) rotate(90deg);
  z-index: 100;
  left: calc(var(--face-width) / 1.3 / 3.2);
  top: calc(var(--sleeve-height) / 2)
}

.fingers {
  height: var(--sleeve-height);
  width: calc(var(--face-width) / 1.3);
  display: block;
  position: absolute;
  background: currentcolor;
  border-radius: var(--sleeve-height) var(--sleeve-height) 0 0;
  transform: scale(0.7) rotate(90deg);
  z-index: 100;
  top: 44vw;
  left: 4.5vw;
}

.scene {
  width: 100vw;
  height: 100vh;
  background: #a3a991;
  z-index: -10;  
}

.wall {
  width: 100%;
  background: #3b3f3a;
  height: calc(100vh - var(--face-height) * 2.5);
  bottom: 0;
  z-index: -5;
}

body {
  margin: 0;
}

.controls {
  position: absolute;
  top: 1vw;
  left: 80vw;
}

.c {
  width: 5vw;
  height: 5vw;  
  border-radius: 100%;
  border: solid 2px;
  position: relative;
  margin-bottom: 1vw;
}

.sbox {
  margin-bottom: 5vw;
  position: relative;
}

.controls div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;  
}

.yellow {
  background: yellow;
}

.reddish {
  background: color-mix(in srgb, currentcolor 50%, red);
}

.blueish {
  background: color-mix(in srgb, currentcolor 50%, blue);
}

.greenish {
  background: color-mix(in srgb, currentcolor 50%, green);
}

.yellowish {
  background: color-mix(in srgb, currentcolor 50%, yellow);
}

.message {
  padding: 1vw;
  background: white;
  border-radius: 1vw;
  top: 1vw;
  left: 1vw;
  font-family: sans-serif;
  font-size: 0.9em;
  width: 20vw;
}